<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travel app</title>
</head>
<body>
    <!-- header of the page -->
    <header>
        <h1>TravelApp</h1>
    </header>

    <!-- main part of the page -->
    <main>
        <!-- result for the user-->
        <section id="tripCard" class="card hidden">
            <div id="tripDataContainer">
                <img id="tripImage" class="hidden" src="" />
                <div id="tripInfo">
                    <div id="tripHeading"></div>
                    <div id="departureDate"></div>
                    
                    <div id="weather">
                        Typical weather for the trip date:
                        <div id="tempHigh" class="temp"></div>
                        <div id="tempLow" class="temp"></div>
                        <div id="weatherInfo">
                            <img id="weatherIcon" class="inline" src="" width="50" height="50" />
                            <div id="weatherText" class="inline"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- user input -->
        <section>
            <form>
                <input id="cityName" type="text" name="input" placeholder="Enter your destination city" required>
                <input id="tripDate" type="date" name="input" placeholder="Enter your trip date" required>
                <input type="submit" name="submit" id="submitForm" value="Submit">
            </form>
            <div id="errorMessage" class="hidden"></div>
        </section>
    </main>

    <!-- footer of the page -->
    <footer>Hope you found what you wanted.</footer>
    
    <script>
        //check that service workers are supported
        if ('serviceWorker' in navigator) {
            //use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>
</html>