$border_width: 5px;
$border_color: #f05e23;
$hover_state: #FFC300;

input {
    width: 200px;
    height: 25px;
    line-height: 16px;
    margin: 10px 0;
    font-size: 20px;
    margin: 20px;
    padding: 24px 32px;
    border-radius: 5px;
    text-align: center;
    border: $border_width solid $border_color;
}

#submitForm {
    border: none;
    height: 83px;
    background-color: $border_color;
    font-weight: bold;

    &:hover {
        font-size: 22px;
        background-color: $hover_state;
    }
}

#errorMessage {
    color: white;
    background-color: red;
    padding: 10px 50px;
}

.hidden {
    display: none;
}

@media(max-width: 880px) {
    input {
        margin: 0;
    }
    main > section:nth-child(2) {
        text-align: center;
    }
}
@media(max-width: 760px) {
    input {
        margin: 0;
        font-size: 16px;
        padding: 10px;
    }
    main > section:nth-child(2) {
        text-align: center;
    }
    #submitForm {
        height: 60px;
        width: calc(100% - 40px);
        margin-top: 20px;
    }
}
@media(max-width: 470px) {
    form > input {
        display: block;
        width: calc(100% - 70px);
        margin: 20px;
    }
}