$background_color: #f05e23;
$font-color: black;
$section_padding: 30px;
$heading_font_size: 30px;   

header {
    display: flex;
    justify-content: space-between;
    padding: $section_padding;
    background-color: $background_color;
    color: $font-color;
    font-size: $heading_font_size;
}
